.contact {
	.contact-left {
		width: 48%;
		display: inline-block;
		vertical-align: top;
		margin-right: 2%;
	}

	.contact-right {
		width: 48%;
		display: inline-block;
		vertical-align: top;
		margin-left: 2%;
		ul {
			// width: 100%;
			padding-left: 0;
			list-style-type: none;
			// li {
			// 	width: 100%;
			// }
		}
	}
}