footer {
	clear: both;
	background: #EBEBEB;
	padding-top: 3%;
	h3 {
		color: #444;
		font-size: .8rem;
	    font-family: 'Oswald', sans-serif;
	    text-transform: uppercase;
	    white-space: nowrap;
	    font-weight: normal;
	    margin-bottom: 1.5rem;
	}
	.left-container {
		float: left;
		.first-menu, .second-menu {
			float: left;
		}

		.first-menu {
			padding-right: 50px;
		}
		ul.menu {
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin: 0 auto;
			li {
				display: inline;
				flex-basis: 35px;
				padding: 0;
				a {
					color: #444;
					font-size: 0.8rem;
					white-space: nowrap;
				}
			}
		}
	}
	.right-container {
		float: right;
		ul.menu {
			padding: 0;
			margin: 0 auto;
			li {
				display: inline;
				margin: 0 10px;
				&:first-of-type {
					margin-left: 0;
				}
				&:last-of-type {
					margin-right: 0;
				}
				a {
					color: #444;
					font-size: 0.8rem;
					white-space: nowrap;
				}
			}
		}
	}
	.footer-bottom {
		border-top: 1px solid #aaa;
		padding: 15px 0;
		color: #aaa;
		p {
			font-size: 0.8rem;
			display: inline;
		}
		ul.menu {
			padding: 0;
			margin: 0 auto;
			display: inline;
			float: right;
			li {
				display: inline;
				a {
					color: #aaa;
					font-size: 0.8rem;
					white-space: nowrap;
				}
			}
		}
	}
}
