section.hero {
	width: 100%;
	margin-top: 0;
	.flickity {
		width: 100%;
	}

	.flickity-viewport {
		width: 100%;
	}

	.flickity-cell {
		width: 100%;
		h2, p {
			text-align: center;
			color: #fff;
			font-family: $open-sans;
			text-shadow: 1px 1px #444;
		}
		h2 {
			text-transform: uppercase;
			font-size: 3rem;
			letter-spacing: 3px;
			margin-top: 200px;
			margin-bottom: 0;
		}
		p {
			
		}
		.button-container {
			display: inline-block;
			width: 100%;
			margin-top: 30px;
			margin-bottom: 250px;
			text-align: center;
			font-size: 0;
		}
		a {
			color: #fff;
			border: 2px solid $beige;
			background-color: $beige;
			padding: 10px 30px;
			border-radius: 40px;
			font-size: 0.8rem;
			text-transform: uppercase;
			transition: all 0.3s ease;
			&:hover {
				background-color: transparent;
				border-color: #fff;
			}
		}

	}

	.flickity-cell1 {

	}
	
	/* position dots in carousel */
	.flickity-page-dots {
	  bottom: 0px;
	  padding-bottom: 20px;
	}

	/* white circles */
	.flickity-page-dots .dot {
	  width: 12px;
	  height: 12px;
	  opacity: 1;
	  background: transparent;
	  border: 2px solid white;
	}
	/* fill-in selected dot */
	.flickity-page-dots .dot.is-selected {
	  background: white;
	}

	/* no circle */
	.flickity-prev-next-button {
	  background: transparent;
	  height: 70px;
	  width: 70px;
	}

	/* arrow color */
	.flickity-prev-next-button .arrow {
	  fill: white;
	}
	.flickity-prev-next-button.no-svg {
	  color: white;
	}
}