ul.menu {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 60%;
	li {
		display: inline;
		flex-basis: 8%;
		a {
			color: #444;
			font-size: 0.8rem;
			text-transform: uppercase;
			white-space: nowrap;
		}
	}
}
