.nav {
	display: inline-block;
	padding: 2%;
	margin-left: 2%;
}

ul.menu {
	margin: 0;
	padding: 0;
	li {
		display: inline;
		margin-right: 10px;
		a {
			color: #333;
			padding: 10px;
			color: white;
			transition: all 0.2s ease;
			font-family: 'Cormorant Garamond';
			font-style: italic; 
			&:hover {
				opacity: 0.3;
			}
		}
	}
}