section.new-product {
	h2 {
		color: #000;
		text-align: center;
	}
	
	.flickity-cell {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.flickity-prev-next-button {
	  background: transparent;
	}

	.flickity-prev-next-button.previous {
	  left: -40px;
	}
	.flickity-prev-next-button.next {
	  right: -40px;
	}

	figure {
		flex-basis: 22%;
	}
	figure::after {
		// content: none;
	}
}