@font-face {
	font-family: 'Gotham Book';
	src: url(fonts/Gotham-Book.otf)
}

@font-face {
	font-family: 'Gotham Bold';
	src: url(fonts/Gotham-Bold.otf);
}

a {
	// color: #BA209B;
	text-decoration: none;
	&:hover {
		// color: #D424B1;
	}
}

/* paragraphs */

p {
	line-height: 1.4;
	font-family: 'Gotham Book';
	font-size: 1rem;
}

// headings

h1, h2, {
	text-align: center;
}

h2 {
	text-transform: uppercase;
	font-family: 'Gotham Book';
	font-size: 1.8rem;
	letter-spacing: 0.2rem;
	color: $heading-grey;
	margin: 4% 0;
}

h3 {
	text-transform: lowercase;
	font-family: 'Cormorant Garamond';
	font-size: 1.25rem;
	font-style: italic;
	letter-spacing: 4px;
}


/*lists*/

ul li, ol li {
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}